{
  "root": true,
  "extends": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "overrides": [
    {
      // TS only config
      "files": ["*.ts", "*.tsx"],
      "extends": [
        "@strv/react-native",
        "@strv/react-native/style",
        "@strv/react-native/optional",
        "@strv/typescript",
        "@strv/typescript/style",
        "prettier"
      ],
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "rules": {
        "@typescript-eslint/no-misused-promises": "off",
        // TODO: fix config
        // https://github.com/Intellicode/eslint-plugin-react-native/issues/270
        "react-native/no-raw-text": "off",
        // TODO: remove package.json in src and fix absolute import logic
        "import/no-extraneous-dependencies": "off",
        "semi": "off",
        // add rule after autofix
        "@typescript-eslint/semi": "off",
        // prevent autofixing this as types might be wrong
        "@typescript-eslint/no-unnecessary-condition": "off",
        // function shorthand type not mainstream yet
        "@typescript-eslint/method-signature-style": "off",
        "react-native-a11y/accessibility-label": "off",
        // allow unused vars linger if prefixed with _
        "@typescript-eslint/no-unused-vars": [
          2,
          {
            "args": "after-used",
            "argsIgnorePattern": "^_",
            "varsIgnorePattern": "^_"
          }
        ],
        // keep the code compact, adding void to setState unnecessary
        "@typescript-eslint/no-confusing-void-expression": "off",
        // slight optimization, no need ?
        "@typescript-eslint/prefer-regexp-exec": "off",
        // sometimes mixing is necessary (navigation names require Type)
        "@typescript-eslint/consistent-type-definitions": "off",
        // allow shadow for common components
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": ["error", { "allow": ["Text"] }],
        // allow default exports
        "import/no-default-export": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "import/group-exports": "off",
        // react native import errors
        "import/namespace": "off",
        "import/named": "off",
        // not practical
        "import/exports-last": "off",
        // warn if used before define, styles convention to have under component
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": "warn",
        "@typescript-eslint/no-explicit-any": "warn",
        // names already all over the place
        "@typescript-eslint/naming-convention": "off",
        // problem with useIntl formatMessage
        "@typescript-eslint/unbound-method": "off",
        // unnecessary
        "react/require-default-props": "off",
        "react/prop-types": "off",
        "react/style-prop-object": "off",
        "react-native/no-inline-styles": "off",
        "padding-line-between-statements": [
          "warn",
          { "blankLine": "any", "prev": "export", "next": "export" }
        ]
      },
      "overrides": [
        // {
        //   "files": [
        //     "*.d.ts",
        //     "./src/index.tsx",
        //     "storybook/**/**",
        //     "index.tsx"
        //   ],
        //   "rules": {
        //     "import/no-unused-modules": "off",
        //     "import/no-default-export": "off"
        //   }
        // },
        // {
        //   "files": ["*.test.{ts,tsx}", "*.stories.{ts,tsx}"],
        //   "rules": {
        //     "import/no-unused-modules": "off"
        //   }
        // },
        {
          "files": ["app.config.ts"],
          "rules": {
            "import/extensions": "off",
            "id-length": "off",
            "import/no-default-export": "off"
          }
        }
      ]
    }
  ]
}
